doctype html
html
  head
    title Skirmish
    ul.character
      li The Dunedain
      li= `Vigor:${characterData.vigor}`
      li= `Fight:${characterData.fight}`
      li= `Armor:${characterData.armor}`

    form.selectDifficulty(name="battleResults" method="GET" action="/battle")
      button.edit-submit(type="submit") Fight it out!

    ul.enemy
      li= enemyData.name
      li= `Vigor:${enemyData.vigor}`
      li= `Fight:${enemyData.fight}`
      li= `Armor:${enemyData.armor}`

