doctype html
html
  head
    title Skirmish
    include stylesheet
    body.backgroundThree
    div.gridLayoutTwo
      ul.characterBattle
        li The Ashen One
        li= `WR:${characterData.vigor}`
        li= `FS:${characterData.fight}`
        li= `AV:${characterData.armor}`

      form.battleButton(name="battleResults" method="GET" action="/battleThree")
        button.edit-submit(type="submit") Fight it out!

      ul.enemyThree
        li Gravelord's Shade
        li= `WR:${enemyData.vigor}`
        li= `FS:${enemyData.fight}`
        li= `AV:${enemyData.armor}`
    div.battleText
      if message
        p= message